@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* background-color: #323232; */
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1733;
  /* background:linear-gradient(-45deg, #00dfed 0%, #001cb0 100%) */

  /* background:  linear-gradient(#174689, #FF82CE); */
}

scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-grad {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 100%;
  border-radius: 50px;
}

.btn-grad:hover {
  background-position: right center;
  text-decoration: none;
}
.btn-grad:disabled {
  background-color: #a7a7a7;
  background-image: none;
  cursor: no-drop;
}

@media only screen and (max-width: 600px) {
  .btn-grad {
    padding-left: 2.5px;
    padding-right: 2.5px;
    font-size: small;
  }
}
